.navbar-row {
  height: 7%;
}

.Home {
  text-align: center;
}

.Home-header {
  background-color:  whitesmoke; /*white; /*#42c5f4; mediumspringgreen;/*chartreuse; /*#222;*/
  height: 120px;
  padding: 20px;
  color:  blue; /*#42c5f4;*/
}

.Home-title {
  font-size: 3.0em;
  font-family: 'Merriweather', serif;
}

.Home-intro {
  font-size: 1.5em;
  padding: 20px;
  color: blue;
  font-family: 'Merriweather', serif;
}

body {
  background-color: #42c5f4; /*white;*/
  color: white;
  font-size: medium;
  font-family: 'Merriweather', serif;
}

.Footer {
  background-color: orange;
  height: 100px;
  margin-top: 400px;
  padding: 20px;
  color: black;
  text-align: center;
}

.no-float {
  float: none;
}

.container-fluid {
  height: 100%;
}

button:hover {
  cursor: pointer;
}

.container-sales-point {
  padding: 50px;
}

.button-size {
  height: 75%;
  background-color: orange;
  color: blue;
  font-size: 22px;
  padding: 1%;
}
